.noteBody {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: #121212;
}

.note-page { 
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}

.note-card {
  background: #272727;
  width: 60%;
  height: 87%;

  padding: 20px 25px 15px 25px;

  overflow: auto;
  overflow-x: hidden;

  display: flex;

  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.form-card { 
  width: 100%;

  overflow: auto;
  overflow-x: hidden;
}

.note-form{
  display: flex;
  flex-direction: column;
}

.headerForm-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentErrorMessage{
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 2px;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contentErrorMessage + .bodyForm-form{
  padding-top: 0px;
}

.bodyForm-form {
  padding-top: 15px;
}

.footerNote-body {
  margin-top: 12px;

  justify-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footerNoteButtons {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.backToNotes-button {
  background: #7e7e7e78;
  padding: 1px 13px 1px 13px;

  border: 0px;
  border-radius: 3px;

  font-size: 22px;
  font-family: 'Nunito', sans-serif;

  transition: all 0.4s ease 0s;
}

.backToNotes-button:hover {
  background: #f44336;
  padding: 1px 13px 1px 22px;
  color: #ffffff;
  margin-left: 8px;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
}

.editNote-button {
  background: #7e7e7ee5;
  padding: 1px 13px 1px 13px;
  margin-left: 0px;

  border: 0px;
  border-radius: 3px;

  font-size: 22px;
  font-family: 'Nunito', sans-serif;

  transition: all 0.4s ease 0s;
}

.editNote-button:hover {
  background: #81c784;
  padding: 1px 22px 1px 13px;
  color: #ffffff;
  margin-right: 8px;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
}

.titleNote-textarea{
  background: #cacacae3;

  height: 35px;  
  padding-left: 10px;
  padding-right: 10px;

  font: 600 26px Nunito, sans-serif;
  color: #0000009f;

  outline: none;
  resize: none;
  
  border-radius: 3px;
  border-width: 0px;
  border: none;

  transition: all 0.2s ease 0s;

  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.titleNote-textarea:hover {
  background: #cbd2d9f6;
}

.content-textarea{
  background: #cacacae3;
  width: 100%;
  height: 451.9px;
  padding: 7px 12px;  
  

  font: 600 15px Nunito, sans-serif;
  color: #0000007e;

  overflow: auto;
  resize: none;
  
  outline: none;

  border-radius: 3px;
  border-width:0px;
  border:none;

  overflow: auto;
  overflow-x: hidden;

  transition: all 0.2s ease 0s;

  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  scrollbar-track-color: red;

  scrollbar-width: 5px;

  scrollbar-base-color: #ffffff;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  margin-left: 20px;
}
::-webkit-scrollbar {
  margin-left: 20px;
  width: 5px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 40px;
  margin-left: 20px;
}

.content-textarea:hover {
  background: #cbd2d9;
}