.signUp-page {
  width: 100vw;
  height: 100vh;
  background: #121212;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}

.signUpForm{
  width: 30%;
  padding: 22px 26px 26px 26px;
  background: #272727;
  color: #ffffff;

  font-size: 15px;

  border-radius: 1px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.signUpMessage {
  font-size: 27px;
  font-weight: 500;

  color: #ffffff;
}

.emailSignUp-input {
  padding: 8px 8px 8px 12px;
  width: 100%;
  margin-top: 25px;
  border-radius: 2px;

  font-size: 16px;

  outline: none;

  border: 1px;
  border-color: #000000;
  background: #cacacae3;

  transition: all 0.2s ease 0s;

  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.emailSignUp-input:hover {
  background: #cbd2d9;
}

.passwordSignUp-input {
  padding: 8px 8px 8px 12px;
  width: 100%;
  margin-top: 25px;
  border-radius: 2px;

  font-size: 16px;

  outline: none;

  border: 1px;
  border-color: #000000;
  background: #cacacae3;

  transition: all 0.2s ease 0s;

  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.passwordSignUp-input:hover {
  background: #cbd2d9;
}

.confirmPasswordSignUp-input {
  padding: 8px 8px 8px 12px;
  width: 100%;
  margin-top: 25px;
  border-radius: 2px;

  font-size: 16px;

  outline: none;

  border: 1px;
  border-color: #000000;
  background: #cacacae3;

  transition: all 0.2s ease 0s;

  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.confirmPasswordSignUp-input:hover {
  background: #cbd2d9;
}

.signUpSubmit-button {
  background: #626262 40%;
  width: 100%;
  border-radius: 2px;
  margin-top: 25px;

  padding: 8px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 600;

  border: none;  

  transition: all 0.4s ease 0s;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.signUpSubmit-button:hover {
  background: #81c784;
  width: 80%;
  color: #ffffff;
}

.login-button {
  margin-top: 12px;
  color: #ffffff;
}